@charset "UTF-8";
header {
  width: 100%;
  border-bottom: 2px solid #eee;
}
header .inner {
  width: 1300px;
  height: 90px;
  margin: 0 auto;
  position: relative;
}
header .inner h1 {
  position: absolute;
  top: 39px;
  left: 0px;
}
header .inner h1 a {
  width: 100%;
  height: 100%;
}
header .inner h1 a img {
  width: 150px;
}
header .inner #gnb {
  position: absolute;
  top: 54px;
  left: 280px;
  display: flex;
}
header .inner #gnb .gnb_manu {
  display: flex;
}
header .inner #gnb .gnb_manu li a {
  padding: 14px 40px;
  font: bold 18px/1 "맑은고딕";
  color: #333;
}
header .inner #gnb .gnb_manu li a:hover {
  border-bottom: 4px solid orange;
  border-radius: 3px;
}
header .inner .sub {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
header .inner .sub .sub_manu {
  width: 1200px;
  position: absolute;
  top: 92px;
  left: 0;
  background-color: #fff;
  display: block;
}
header .inner .sub .sub_manu .menu {
  display: none;
  padding: 30px;
}
header .inner .sub .sub_manu .menu.on {
  display: flex;
  justify-content: space-evenly;
}
header .inner .sub .sub_manu .menu.on article {
  width: 300px;
  display: flex;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  flex-direction: column;
}
header .inner .sub .sub_manu .menu.on article h3 {
  padding-top: 40px;
  padding-bottom: 20px;
  font: bold 17px/1 "맑은고딕";
  color: #333;
  text-align: center;
  margin-bottom: 5px;
}
header .inner .sub .sub_manu .menu.on article ul {
  width: 100%;
}
header .inner .sub .sub_manu .menu.on article ul li {
  text-align: center;
}
header .inner .sub .sub_manu .menu.on article ul li a {
  font: normal 15px/3 "맑은고딕";
  color: #555;
  border-bottom: 2px solid transparent;
}
header .inner .sub .sub_manu .menu.on article ul li a:hover {
  border-bottom: 2px solid orange;
  border-radius: 2px;
}
header .inner .sub .sub_manu .menu.on article .image {
  position: relative;
  width: 300px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}
header .inner .sub .sub_manu .menu.on article .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
header .inner .sub .sub_manu .menu.on article .image p {
  position: absolute;
  top: 40px;
  left: 15%;
  font: bold 17px/1 "맑은고딕";
  color: #333;
  text-align: center;
}
header .inner .sub .sub_manu .menu.on article:hover {
  opacity: 0.8;
}
header .inner .sub .sub_manu .menu.on article:hover p {
  color: #fff;
}
header .inner .util_menu {
  position: absolute;
  top: 25px;
  right: 0px;
  display: flex;
  cursor: pointer;
}
header .inner .util_menu ul li {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}
header .inner .util_menu ul li a {
  font: bold 14px/1 "맑은고딕";
  color: #777;
}
header .inner .util_menu ul li a:nth-of-type(3) {
  border-bottom: 1px solid #ddd;
}
header .inner .util_menu ul li a:nth-of-type(4) {
  border-bottom: 1px solid #ddd;
}
header .inner .util_menu .language {
  display: block;
}
header .inner .util_menu .language ul li i {
  color: #777;
}
header .inner .util_menu .language ul li .language_menu {
  width: 100px;
  height: 20px;
  outline: none;
  border: 1px solid #ccc;
  position: relative;
}
header .inner .util_menu .language ul li .language_menu .language_box {
  display: flex;
  justify-content: space-between;
}
header .inner .util_menu .language ul li .language_menu .language_box h4 {
  font: bold 14px/1 "맑은고딕";
  text-align: left;
  padding: 1px 5px;
}
header .inner .util_menu .language ul li .language_menu .language_box i {
  padding: 1px 5px;
  font-size: 15px;
  color: #555;
}
header .inner .util_menu .language ul li .language_menu .glober {
  display: block;
  width: 100px;
  background-color: #fff;
  border: 1px solid #aaa;
  position: absolute;
  top: 18px;
  left: -1px;
}
header .inner .util_menu .language ul li .language_menu .glober article span {
  display: block;
  font: normal 14px/1 "맑은고딕";
  color: #555;
  padding: 5px;
}
header .inner .util_menu .language ul li .language_menu .glober article span:hover {
  background-color: #555;
  color: #fff;
}

footer {
  width: 100%;
  margin: 0 auto;
  margin-top: 300px;
  cursor: pointer;
}
footer .banner {
  width: 100%;
  background-color: #eee;
}
footer .banner .inner {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .banner .inner article {
  width: 370px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
footer .banner .inner article .part {
  width: 250px;
}
footer .banner .inner article .part h4 {
  font: normal 24px/2.5 "맑은고딕";
  color: #bbb;
}
footer .banner .inner article .part p {
  font: bold 30px/1.8 "arial";
  color: #aaa;
}
footer .banner .inner article .part span {
  font: 18px/1.8 "맑은고딕";
  color: #aaa;
}
footer .banner .inner article .pic i {
  color: #ccc;
  font-size: 80px;
}
footer .banner .inner :nth-of-type(3) .part h4 {
  font: normal 24px/2.5 "맑은고딕";
  color: #bbb;
}
footer .banner .inner :nth-of-type(3) .part span {
  display: block;
  margin-top: 20px;
  font: bold 18px/1.8 "맑은고딕";
  color: #aaa;
}
footer .footer_sub {
  width: 100%;
  background-color: #ccc;
  border-bottom: 2px solid #aaa;
}
footer .footer_sub .footer_submenu {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
footer .footer_sub .footer_submenu li {
  position: relative;
  font: normal 15px/1 "맑은고딕";
  color: #777;
}
footer .footer_sub .footer_submenu li:nth-of-type(3) {
  font: bold 15px/1 "맑은고딕";
  color: #666;
}
footer .footer_sub .footer_submenu li:nth-of-type(7) {
  font: bold 15px/1 "맑은고딕";
  color: #666;
}
footer .footer_main {
  width: 100%;
  background-color: #aaa;
}
footer .footer_main .footer_con {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
footer .footer_main .footer_con h2 {
  padding: 50px 0px;
}
footer .footer_main .footer_con .copylight {
  padding: 40px 0px;
}
footer .footer_main .footer_con .copylight .copy {
  display: flex;
  justify-content: left;
}
footer .footer_main .footer_con .copylight .copy li {
  font: normal 13px/2 "맑은고딕";
  color: #eee;
}
footer .footer_main .footer_con .sns {
  padding: 50px 0px;
}
footer .footer_main .footer_con .sns a {
  margin-right: 10px;
}

.announcement {
  width: 100%;
  height: 30px;
  display: flex;
  background-color: antiquewhite;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.announcement .inner {
  width: 1300px;
  height: 100%;
  display: flex;
  margin-left: 0;
}
.announcement .inner .content {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.announcement .inner .content ul {
  display: flex;
}
.announcement .inner .content ul .announc_icon a {
  height: 100%;
}
.announcement .inner .content ul .announc_icon a i {
  height: 100%;
  font-size: 16px;
  color: orange;
  padding: 6px 10px;
}
.announcement .inner .content ul .announc_contents {
  display: block;
  height: 30px;
  overflow: hidden;
}
.announcement .inner .content ul .announc_contents p {
  text-align: left;
  align-items: center;
  margin: 3px 20px;
  font: bold 14px/1.5 "맑은고딕";
  color: rgb(0, 0, 109);
}
.announcement .inner .close {
  width: 115px;
}
.announcement .inner .close a {
  height: 30px;
  align-items: center;
  text-align: center;
  margin-top: 7px;
  font: bold 13px/1 "맑은고딕";
  color: rgb(0, 0, 109);
}
.announcement .inner .close i {
  height: 30px;
  line-height: 30px;
  color: orange;
  transform: rotate(45deg);
}
.announcement .inner .close i:hover {
  color: rgb(0, 0, 109);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

#main {
  width: 100%;
  height: 650px;
  overflow: hidden;
}
#main .visual {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#main .visual .prep {
  position: absolute;
  top: 45%;
  left: 16%;
  font-size: 60px;
  color: #444;
  opacity: 0.9;
}
#main .visual .next {
  position: absolute;
  top: 45%;
  right: 16%;
  font-size: 60px;
  color: #444;
  opacity: 0.9;
}

#trip {
  width: 1500px;
  height: 500px;
}

#Affiliated_services {
  width: 100%;
  margin-top: 150px;
}
#Affiliated_services .inner {
  width: 1300px;
  margin: 0 auto;
  position: relative;
}
#Affiliated_services .inner h2 {
  font: bold 35px/1 "맑은고딕";
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}
#Affiliated_services .inner .wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#Affiliated_services .inner .wrap article .pic {
  width: 100%;
}
#Affiliated_services .inner .wrap article .pic img {
  width: 160px;
  object-fit: cover;
  margin-bottom: 20px;
}
#Affiliated_services .inner .wrap article h3 {
  font: bold 20px/1 "맑은고딕";
  color: #555;
  text-align: center;
}

#Added_services {
  width: 100%;
  margin-top: 150px;
}
#Added_services .inner {
  width: 1300px;
  margin: 0 auto;
  position: relative;
}
#Added_services .inner h2 {
  font: bold 35px/1 "맑은고딕";
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}
#Added_services .inner .wrap {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
#Added_services .inner .wrap article {
  width: 220px;
}
#Added_services .inner .wrap article .pic .art {
  width: 100%;
  height: 280px;
  background-color: rgba(0, 0, 0, 0.02);
  padding: 20px;
}
#Added_services .inner .wrap article .pic .art img {
  width: 150px;
  object-fit: cover;
  margin-bottom: 60px;
}
#Added_services .inner .wrap article .pic .art h3 {
  font: bold 20px/1 "맑은고딕";
  color: #555;
  text-align: center;
}
#Added_services .inner .wrap article .pic .art:hover {
  background-color: orange;
  border-radius: 20px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
}
#Added_services .inner .wrap article .pic .art:hover h3 {
  color: #fff;
}

#notice {
  width: 1300px;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}
#notice .inner {
  width: 200px;
  margin-left: 23%;
}
#notice .inner h2 {
  font: bold 35px/1 "맑은고딕";
  color: #333;
  margin-bottom: 130px;
}
#notice .inner a {
  font: bold 17px/1 "맑은고딕";
  color: #555;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 5px 35px;
}
#notice .inner a:hover {
  background-color: orange;
  color: #fff;
  border: none;
}
#notice .contents {
  position: relative;
  top: 0;
  right: -300px;
  width: 900px;
}
#notice .contents ul li {
  display: block;
}
#notice .contents ul li a {
  display: flex;
  justify-content: space-between;
  font: bold 18px/2.6 "맑은고딕";
  color: #555;
  border-bottom: 1px solid #eee;
}
#notice .contents ul li a:hover {
  color: orange;
}
#notice .contents ul li a span {
  font: normal 17px/2.5 "arial";
  color: #777;
}

/*# sourceMappingURL=style.css.map */
