#Affiliated_services {
  width: 100%;
  margin-top: 100px;
  .inner {
    width: 1300px;
    margin: 0 auto;
    position: relative;
    h2 {
      font: bold 35px/1 "맑은고딕";
      color: #333;
      text-align: left;
      margin-bottom: 25px;
    }
    p {
      font: 20px/1 "맑은고딕";
      color: #333;
      text-align: left;
      margin-bottom: 60px;
    }
    .wrap {
      width: 100%;
      display: flex;
      justify-content: space-between;
      article {
        cursor: pointer;
        .pic {
          width: 100%;
          span {
            width: 180px;
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.03);
            img {
              width: 150px;
              object-fit: cover;
            }
            &:hover {
              border: 2px solid orange;
              background-color: #fff;
            }
          }
        }
        h3 {
          margin-top: 15px;
          text-align: center;
          font: bold 20px/1 "맑은고딕";
          color: #555;
        }
      }
    }
  }
}
