#Added_services {
	width: 100%;
	margin-top: 150px;
	.inner {
		width: 1300px;
		margin: 0 auto;
		position: relative;
		h2 {
			font: bold 35px/1 '맑은고딕';
			color: #333;
			text-align: left;
			margin-bottom: 25px;
		}
		p {
			font: 20px/1 '맑은고딕';
			color: #333;
			text-align: left;
			margin-bottom: 70px;
		}
		.wrap {
			width: 100%;
			height: 280px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: center;
			article {
				width: 200px;
				.pic {
					.art {
						width: 100%;
						img {
							width: 100%;
							object-fit: cover;
						}
						h3 {
							width: 100%;
							position: relative;
							left: 0;
							bottom: 60px;
							font: bold 20px/1 '맑은고딕';
							color: #555;
							text-align: center;
							align-items: center;
						}
					}
				}
			}
		}
	}
}
