#Affiliated_services {
	width: 100%;
	margin-top: 150px;
	.inner {
		width: 1300px;
		margin: 0 auto;
		position: relative;
		h2 {
			font: bold 35px/1 '맑은고딕';
			color: #333;
			text-align: left;
			margin-bottom: 25px;
		}
		p {
			font: 20px/1 '맑은고딕';
			color: #333;
			text-align: left;
			margin-bottom: 60px;
		}
		.wrap {
			width: 100%;
			display: flex;
			justify-content: space-between;
			article {
				.pic {
					width: 100%;
					img {
						width: 200px;
						object-fit: cover;
						margin-bottom: 20px;
					}
				}
				h3 {
					font: bold 20px/1 '맑은고딕';
					color: #555;
					text-align: center;
				}
			}
		}
	}
}
